# BASE URL
NEXT_PUBLIC_BASE_URL=

# API
NEXT_PUBLIC_TOUR_API_END_POINT=
NEXT_PUBLIC_TOUR_API_KEY=

NEXT_PUBLIC_HANGINTHERE_API_END_POINT=
NEXT_PUBLIC_PROD_HANGINTHERE_API_END_POINT=

# Naver Maps
NEXT_PUBLIC_NAVER_MAPS_CLIENT_ID=

# Google Tag
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=

# Kakao
NEXT_PUBLIC_KAKAO_JS_KEY=

# Crypto
CRYPTO_KEY=