.custom-dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle;
}

.custom-dots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.custom-dots li button {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  padding: 0;
}

.custom-dots li.slick-active button {
  background-color: #ffffff;
}
